---
layout: default
---

<div class="about-container pad4y">
  <div class="about-info mb4">
    <img class="about-hero" src="/assets/me.jpg" alt="Profile Picture">
    <div class="about-info-text">
      <span class="blob">
        <h1 class="about-info-headline tightened">
          Arthur Hammer
        </h1>
      </span>
      <h2 class="about-info-subhead secondary-text">
        Mobile Engineering Lead ✨
      </h2>
      <div class="about-info-body">
      </div>
    </div>
  </div>
  I have extensive experience in building delightful apps that are easy to use.
  
  <p>
    I bridge the gap between product, design and engineering to see a vision through. I know when to be pragmatic and when to add that special attention to detail <a href="https://github.com/arthurhammer/FrameGrabber/blob/develop/docs/about.md#technical-challenges">to stand out from competitors</a>.    
  </p>  
  <p class="mb6">
    If you create products that make a real difference, <strong><a href="mailto:hi@arthurhammer.de">let's chat</a></strong>.
  </p>

  <h3>Posts</h3>

  <nav>
    {% for post in site.posts %}
      {% assign year = post.date | date: "%Y" %}

      {% if year != lastYear %}
        {% unless forloop.first %}</ul>{% endunless %}
        <h4 class="tertiary-text">{{ year }}</h4>
        <ul class="list-unstyled">
        {% assign lastYear = year %}
      {% endif %}

      <li class="mb2">
        <a href="{{ post.url | relative_url }}" class="strong link-plain">{{ post.title | xml_escape }}</a>
        {% if post.description %}
        <div class="quiet small">{{ post.description | xml_escape }}</div>
        {% endif %}
      </li>

      {% if forloop.last %}</ul>{% endif %}
    {% endfor %}
  </nav>
</div>
