<header class="mb6">
  <nav class="site-title link-plain">
      <h1>
        <a href="{{ "/" | relative_url }}">{{ site.author.name }}</a>
      </h1>
      <ul class="list-unstyled list-inline uppercase">
        <li><a href="{{ "/blog/" | relative_url }}">Blog</a></li>
        <li><a href="{{ site.author.github }}">Projects</a></li>
        <li><a href="{{ site.author.instagram }}">Photos</a></li>
        <li><a href="{{ "/about/" | relative_url }}">About</a></li>
      </ul>
  </nav>
</header>