---
layout: default
---

{% for post in paginator.posts %}
  <article class="mb20">
    <h1><a href="{{ post.url | relative_url }}" class="link-plain">{{ post.title }}</a></h1>

    {{ post.content }}

    {% if post.date %}
    <time datetime="{{ post.date | date_to_xmlschema }}" class="quiet small">{{ post.date | date: "%B %Y" }}</time>
    {% endif %}
  </article>
{% endfor %}

<nav>
  <ul class="list-unstyled list-inline">
    {% if paginator.previous_page %}
    <li><a href="{{ paginator.previous_page_path }}" rel="prev" class="fl">Previous</a></li>
    {% endif %}

    {% if paginator.next_page %}
    <li><a href="{{ paginator.next_page_path }}" rel="next" class="fr">Next</a></li>
    {% endif %}
  </ul>
</nav>
