---
layout: default
---

{% for post in paginator.posts %}
  <article class="mb10">
    <header>
      <h1><a href="{{ post.url | relative_url }}" class="link-plain">{{ post.title }}</a></h1>
      {% if post.description %}
      <div class="quiet">
        {{ post.description }}
      </div>
      {% endif %}
    </header>

    {{ post.content }}

    {% if post.date %}
    <footer>
      <time class="quiet small" datetime="{{ page.date | date_to_xmlschema }}">{{ post.date | date: "%b %Y" }}</time>
    </footer>
    {% endif %}
  </article>
{% endfor %}

<nav>
  <ul class="list-unstyled list-inline">
    {% if paginator.previous_page %}
    <li><a href="{{ paginator.previous_page_path }}" rel="prev" class="fl">Previous</a></li>
    {% endif %}

    {% if paginator.next_page %}
    <li><a href="{{ paginator.next_page_path }}" rel="next" class="fr">Next</a></li>
    {% endif %}
  </ul>
</nav>
